# Coursera Capstone Project - Daniel M
### Using Data Science to advise lawmakers on when to give the order to shelter in place

In [5]:
# The code was removed by Watson Studio for sharing.

,CRN,DISTRICT,COUNTY,MUNICIPALITY,POLICE_AGCY,CRASH_YEAR,CRASH_MONTH,DAY_OF_WEEK,TIME_OF_DAY,HOUR_OF_DAY,...,PED_DEATH_COUNT,PED_MAJ_INJ_COUNT,MAX_SEVERITY_LEVEL,COMM_VEH_COUNT,DEC_LAT,DEC_LONG,RDWY_SURF_TYPE_CD,COUNTY_NAME,MUNICIPALITY_NAME,COUNTY_YEAR
0,2018001306,6,67,67301,67505,2018,1,3,953,9,...,0,0,4,0,39.9857,-75.1519,NaN,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia
1,2018006142,6,67,67301,68K01,2018,1,5,934,9,...,0,0,3,0,39.9946,-75.0841,NaN,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia
2,2018004176,6,67,67301,68K01,2018,1,1,1734,17,...,0,0,0,0,40.0402,-75.0058,NaN,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia
3,2018005229,6,67,67301,68K01,2018,1,2,358,3,...,0,0,0,0,39.9599,-75.1793,NaN,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia
4,2018002147,6,67,67301,67505,2018,1,5,2151,21,...,0,0,0,0,39.9805,-75.1600,NaN,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia

In [6]:
df.shape

(11003, 91)

In [15]:
from sklearn.linear_model import LinearRegression 
df.dropna()

,CRN,DISTRICT,COUNTY,MUNICIPALITY,POLICE_AGCY,CRASH_YEAR,CRASH_MONTH,DAY_OF_WEEK,TIME_OF_DAY,HOUR_OF_DAY,...,PED_DEATH_COUNT,PED_MAJ_INJ_COUNT,MAX_SEVERITY_LEVEL,COMM_VEH_COUNT,DEC_LAT,DEC_LONG,RDWY_SURF_TYPE_CD,COUNTY_NAME,MUNICIPALITY_NAME,COUNTY_YEAR
1629,2018082950,6,67,67301,68K01,2018,6,7,27,0,...,0,0,1,0,39.9828,-75.0996,2.0,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia
10163,2019016021,6,67,67301,68K01,2018,12,2,2104,21,...,0,0,1,0,39.9832,-75.0987,1.0,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia

In [19]:
X = np.array(df['WEATHER']).reshape(-1, 1)
Y = np.array(df['INJURY_COUNT']).reshape(-1, 1)
X = X[0:100]
Y = Y[0:100]

In [20]:
regr = LinearRegression() 
regr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [22]:
print(regr.score(X, Y))

0.005380991584590933

In [24]:
regr.coef_

array([[0.06268925]])